{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <div class="h-screen flex justify-center w-full">
        <div class="bg-white px-4 py-8 w-screen max-w-xl">
            <div class="pt-6 pb-8 mb-4">
                <div class="mb-6">
                    <div class="text-center text-3xl place-content-center font-bold">
                        {% block heading %}{% endblock %}
                    </div>
                </div>
                <div class="my-4">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>