<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <h1>Add task</h1>
    <!-- create form for adding task -->
    <form action="" method="get">
        <label for="task">Task:</label>
        <input type="text" name="task" id="task">
        <input type="submit" value="Add Task">
    </form>
</body>
</html>